:root {
  --color-1: #fcf78d ;
  --color-2: #52ccc0;
  --color-3: #fff3cd7d;
  --color-pale: #fffeed;
}


@font-face {
  font-family: "Cascadia ExtraLight";
  src: url('fonts/CascadiaMonoPL-ExtraLight.otf');
}

@font-face {
  font-family: "Cascadia SemiBold";
  src: url('fonts/CascadiaMono-SemiBold.otf');
}

@font-face {
  font-family: "Octarine bold";
  src: url('fonts/octarine.bold.otf');
}

body, .cascadia-el {
  font-family: 'Cascadia ExtraLight', sans-serif !important;
}

.cascadia-sb {
  font-family: 'Cascadia SemiBold', sans-serif;
}

.octarine-b {
  font-family: 'Octarine bold', sans-serif;
}
