@import './cssReset.css';
@import './base.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';


.fond-jaune {
  background-color: var(--color-1);
}
.fond-bleu {
  background-color: var(--color-2);
}
.fond-blanc {
  background-color: white;
}
.color-bleu {
  color: var(--color-2);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

.logo {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
}

.icon-btn {
  border: none;
}

.logo.insta {
  background-image: url(./logos/instagram.png);
}
.logo.github {
  background-image: url(./logos/github.png);
}
.logo.linkedin {
  background-image: url(./logos/logo-linkedin.png);
}
.logo.plus {
  background-image: url(./logos/ajouter.png);
}
.logo.navette {
  background-image: url(./logos/navette2.png);
}

