@import './cssReset.css';
@import './base.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';


.fond-jaune {
  background-color: var(--color-1);
}
.fond-bleu {
  background-color: var(--color-2);
}
.fond-blanc {
  background-color: white;
}
.color-bleu {
  color: var(--color-2);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

.logo {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
}

.logo.medium {
  width: 45px;
  height: 45px;
}

.icon-btn {
  border: none;
}

.logo.insta {
  background-image: url(./logos/instagram.png);
}
.logo.github {
  background-image: url(./logos/github.png);
}
.logo.linkedin {
  background-image: url(./logos/logo-linkedin.png);
}
.logo.plus {
  background-image: url(./logos/ajouter.png);
}
.logo.navette {
  background-image: url(./logos/navette2.png);
}
.logo.retour {
  background-image: url(./logos/bouton-retour.png);
  background-color: transparent;
}

.logo.cv {
  background-image: url(./logos/cv-et-cv.png);
}
.logo.navette, .logo.cv {
  box-shadow: 0px 0px 0px 7px var(--color-1);
  border-radius: 2px;
  transition: all ease 0.5s
}

button.telecharger {
  background-image: url(./logos/telecharger.png);
  background-size: contain;
  height: 70px;
  width: 70px;
  background-color: transparent;
}
.logo.navette:hover, .logo.cv:hover {
  box-shadow: 0px 0px 0px 14px var(--color-1);
}

